body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;

    background-color: #f0f0f0;
}

.sidebar {
    width: 200px;
    background-color: #333;
    color: white;
    padding-top: 30px;
    padding-left: 30px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidebar-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.welcome-section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.grid-item {
    background-color: white;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #999;
}


.deploy-section {
    background-color: white;
    padding: 20px;
    width: 100%;
    margin: auto;
}

.deploy-section h1 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group select,
.form-group input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-group button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #555;
}

.date-input {
    font-size: 18px; 
    font-family: Arial, sans-serif; 
    background-color: #f0f0f0; 
    border: 1px solid #000;
    padding: 10px;
    border-radius: 10px;
  }

/* Reports section */
.download-block {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .download-block table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .download-block th, .download-block td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .download-block th {
    background-color: #f0f0f0;
  }
