<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-item" onclick="updateContent('/index')">
            <i>Dashboard</i>
        </div>
        <div class="sidebar-item" onclick="updateContent('/deploy')">
            <i>Scan</i>
        </div>
        <div class="sidebar-item" onclick="updateContent('/schedule')">
            <i>Groups</i>
        </div>
        <div class="sidebar-item" onclick="updateContent('/settings')">
            <i>Settings</i>
        </div>
        <div class="sidebar-item" onclick="updateContent('/reports')">
            <i>Reports</i>
        </div>
    </div>
<div class="main-content">
    <div class="deploy-section">
        <h1>Settings</h1>
        <!-- Report Format Section -->
        <div class="form-group">
            <label for="reportFormat">Report Format:</label>
            <select id="reportFormat" asp-for="ReportFormat">
                <option value="">Select Report Format</option>
                <option value="PDF">PDF</option>
                <option value="Excel">Excel</option>
                <option value="Word">Word</option>
            </select>
        </div>


        <div class="form-group">
            <!-- Add Recipient Section -->
            <div class="form-group">
                <label for="recipient-input">Add Recipient:</label>
                <input type="text" id="recipient-input" placeholder="Enter recipient email">
                <button id="add"  onclick="add">Add</button>
            </div>
            <!--Select Recipients-->
            <div class="form-group">
                <label for="Recipients">Select Recipients:</label>
                <select multiple class="form-control" id="Recipients" name="Recipients">
                    <option value="Stakeholders">Stakeholders</option>
                    <option value="Dev Team">Dev Team</option>
                    <option value="Sec Team">Sec Team</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" id="remove"  onclick="remove">Remove</button>
            </div>
    </div>
    </div>
</div>

<script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>